
:root {
  --main-background: #333541;
  --main-gradient-background: linear-gradient(225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}


@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src:url('../public/fonts/Pacifico-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Nunito Black';
  font-style: normal;
  font-weight: 400;
  src:url('../public/fonts/Nunito-Black.ttf') format('truetype'),
  url('../public/fonts/Nunito-BlackItalic.ttf') format('truetype'),
  url('../public/fonts/Nunito-Bold.ttf') format('truetype'),
  url('../public/fonts/Nunito-ExtraBold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Nunito ExtraLight';
  font-style: normal;
  font-weight: 400;
  src:url('../public/fonts/Nunito-ExtraLight.ttf') format('truetype'),
}

@font-face {
  font-family: 'Nunito ExtraBold';
  font-style: normal;
  font-weight: 400;
  src:url('../public/fonts/Nunito-ExtraBold.ttf') format('truetype'),
}

.height-full {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}

body {
  font-family: 'Nunito ExtraLight';
  /* height: 100vh; */
  margin: unset;
}

/* Css copy from Web Whatsapp app */
._3dqpi {
  position: relative;
}

@media screen and (min-width: 1441px) {
  .app-wrapper-web ._3dqpi {
    height: calc(100% - 32px);
    top: 19px;
    width: 1396px;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    }
  html[dir] .app-wrapper-web.safari-fix ._3dqpi {
    border-radius: 4px; 
  } 
}
/* END Css copy from Web Whatsapp app */


.custom-input > input {
  margin: 5px 0;
  border-radius: 5px;
  border-style: none;
  padding: 15px 7px;
  background-color: #dec2cc;
  /* color: #ffffff; */
}

.custom-button {
  border-style: none;
  background-color: rgb(74, 67, 71);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  width: 100%;
}

.auth-container {
  min-width: 400px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding: 50px;
}

.form-container {
  border: 1px dashed #616161;
  width: 500px;
  padding: 50px 50px 35px 50px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* background: linear-gradient(to right, #333541, #303A4E); */
  background: none;
}

.gradient-bc {
  background: #bc4e9c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.inputSeparation > input {
  margin: 5px 0;
  border-radius: 5px;
  border-style: none;
  padding: 15px 7px;
  background-color: #dec2cc;
  color: #ffffff;
}

/* Drawer */
@media (min-width: 600px) {
  .MiniDrawer-drawerClose-8 {
    width: 57px !important;
  }
}

.detail-button {
  cursor: pointer;
  border-radius: 50%;
}

.detail-button:hover {
  color: #272727 !important;
  background-color: #8c8c8c !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
  /* -webkit-border-radius: 10px;
  border-radius: 10px; */
}

::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px;
  border-radius: 10px; */
  background: #9E9E9E; 
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #9E9E9E; 
}

.box-shadow-default {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  z-index: 1100; 
}

.gradient-background {
  background-image: var(--main-gradient-background)
}

.tile-calendar {
  cursor: pointer;
}

.tile-calendar:hover {
  background-color: rgba(106, 115, 138, 0.13);
}

.event-calendar {
  cursor: pointer;
  background-color: rgb(15, 168, 187);
  border-left: 7px solid rgb(106, 115, 138);
}

.event-calendar:hover {
  background-color: #13b9cc;
  border-radius: 3px;
}

.dialog-height {
  height: 650px;
}

/* Custom table */
.custom-table {
  display: flex;
  flex-direction: row;
  margin: 1.5px 0;
  padding: 5px 0;
  border: 0.5px solid gray;
  border-radius: 5px; 
}


.row-table {
  cursor: pointer;
}

.row-table:hover {
  background-color: #676c77;
}